<p>Les conditions générales de ventes décrites ci-après détaillent les droits et obligations de L’Atelier de Reliure d’Art <b>L’Arbre à Pages</b> et de ses clients dans le cadre de la vente des carnets personnalisés et sur mesure composés sur son site <a href="http://www.larbreapages.fr"><em>www.larbreapages.fr</em></a> à partir du module de personnalisation.</p>

<p>Toute prestation réalisée par <b>Camille Aubert / Atelier de Reliure d’Art l’Arbre à Pages</b> implique l’adhésion sans réserve de l’acheteur aux présentes conditions générales de vente :</p>

<h4>Prix des produits :</h4>

<p>Le devis est réalisé en ligne et varie selon la composition du carnet choisi par le client. Les prix du module de personnalisation sont indiqués en euros hors taxe. Cependant, le prix toutes taxes comprises s’affiche dans l’info bulle en positionnant le curseur de la souris sur le prix hors taxe. Le montant de la TVA est précisé à la fin de la composition du carnet et avant la validation du paiement par le client. Les frais de port sont fixés à 5 € par commande. Le client effectue son paiement de manière sécurisée par carte bancaire.</p>

<p><b>Camille Aubert / Atelier de Reliure d’Art l’Arbre à Pages</b> se réserve le droit de modifier ses prix à tout moment mais les produits commandés sont facturés au prix en vigueur lors de l’enregistrement de la commande.</p>

<h4>Commande / Annulation de commande :</h4>

<p>L’Atelier de Reliure d’Art <b>L’Arbre à Pages</b> confirme la commande par email et récapitule tous les éléments de celle-ci dans une facture envoyée sous 24 h. Les données enregistrées par l’Atelier de Reliure d’Art <b>L’Arbre à Pages</b> constituent la preuve de la nature, du contenu et de la date de la commande.</p>

<p>Si pour une raison quelconque le client souhaite annuler sa commande, il dispose d’un <b>délai de 24 h dès la réception du mail de confirmation de commande.</b> Pour ce faire, celui-ci doit envoyer un email à l’adresse suivante : <a href="mailto:contact@larbresapages.fr"><em>contact@larbresapages.fr</em></a>. Il recevra ensuite un mail de confirmation d’annulation de sa commande ainsi que son remboursement complet dans les plus brefs délais.</p>
<p>En revanche, passé ce délai de 24 h et conformément à la législation en vigueur, il n'y a pas de droit de rétractation pour les produits confectionnés sur mesure et personnalisés.</p>

<h4>Délais d’expédition / Livraison :</h4>

<p>Le temps dont <b>L’Atelier de Reliure d’Art L’Arbre à Pages</b> a besoin pour traiter une commande peut varier selon l’affluence du travail en cours à l’atelier. Néanmoins, <b>L’Atelier de Reliure d’Art L’Arbre à Pages</b> s’engage à respecter un <b>délai d’expédition</b> compris entre 5 et 20 jours ouvrés.</p>
<p>Les carnets sont envoyés par Colissimo. Ils sont protégés par du papier à bulles puis envoyés dans un carton. (<b>L’Atelier de Reliure d’Art L’Arbre à Pages</b> peut réaliser sur demande un paquet-cadeau (case à cocher au moment de la validation de votre commande).</p>
<p><b>Attention !</b> Si La Poste venait à égarer le colis d’un client, <b>L’Atelier de Reliure d’Art L’Arbre à Pages</b> ne peut être tenu pour responsable. Aucun remboursement ne pourra être effectué. Merci de votre compréhension !</p>

<h4>Règlement concernant la confidentialité :</h4>

<p><b>L’Atelier de Reliure d’Art L’Arbre à Pages</b> n’utilisera vos adresses de livraison et de facturation, ainsi que vos coordonnées uniquement dans les cas suivants :</p>
<ul>
  <li>Pour communiquer avec vous au sujet de votre commande</li>
  <li>Pour traiter votre commande</li>
  <li>Pour livrer votre commande</li>
  <li>Pour des raisons légales (comme le paiement des taxes)</li>
</ul>

<h4>Propriété intellectuelle :</h4>

<p>L’ensemble des éléments présents sur le site <a href="http://www.larbreapages.fr"><em>www.larbreapages.fr</em></a> (marques, noms de domaine, textes, images, photographies, illustrations, logos) sont la propriété exclusive de <b>L’Atelier de Reliure d’Art L’Arbre à Pages.</b> Aucun de ces éléments ne peut être utilisé, reproduit, copié, représenté, transmis, diffusé ou publié, entièrement ou partiellement sans autorisation écrite préalable de <b>L’Atelier de Reliure d’Art L’Arbre à Pages.</b></p>

<h4>Savoir-faire / Instructions d'entretien :</h4>

<p>100 % fait main et français, chaque carnet a été confectionné avec soin par <b>Camille Aubert</b> dans son <b>Atelier de Reliure d'Art &quot;L'Arbre à Pages&quot;</b> situé à Nancy. Camille Aubert est une jeune relieure diplômé de l’école Tolbiac à Paris (<b>Certificat d’Aptitude Professionnelle,</b> Art de la reliure – <b>Brevet des Métiers d’Art,</b> Art de la Reliure et de la Dorure – <b>Mention complémentaire,</b> Entretien des Collection du Patrimoine).</p>
<p><b>Notes à l’utilisateur :</b></p>

<ul>
  <li>La couleur des matières premières peut différer légèrement des photos selon les paramètres d’affichage de votre écran.</li>
  <li>Les dimensions des carnets peuvent varier de quelques millimètres.</li>
  <li>Les livres doivent être stockés à l'abri de la chaleur et de l'humidité.</li>
  <li>Une exposition prolongée au soleil peut dégrader la couleur des matériaux (palissement du papier, de la toile, du cuir…).</li>
  <li>Une exposition intensive au soleil (source de chaleur) peut occasionner des gondolements ou des déformations.</li>
</ul>

<h4>Relations clients / Service après-vente :</h4>

<p>Pour toute information, question ou réclamation, le client peut s’adresser du Lundi au Vendredi, de 9h à 18h00 à <b>Camille Aubert / Atelier de Reliure d’Art l’Arbre à Pages.</b></p>
<p>Email : <a href="mailto:contact@larbreapages.fr"><em>contact@larbreapages.fr</em></a></p>
<p>Tel : 06.17.48.30.69</p>
<p>Adresse : Atelier de reliure d’Art l’Arbre à Pages</p>
<p>108 rue Charles III</p>
<p>54000 Nancy</p>

